* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100vw;
    height: 60px;
    background: #f3f3f3;
    display: block;
    flex-shrink: 0;
}

#drawingCanvas {
    width: 100%;
    height: 100%;
    max-width: calc((100vh - 60px) * 16 / 9);
    max-height: calc(100vw * 9 / 16);
    background: #ffffff;
    cursor: crosshair;
    touch-action: none;
    display: block;
    margin: auto;
}
